@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
.parent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* margin: 0 10px 10px 10px; */
    /* gap: 10px; */
    margin-left: 50px;
}
.content {
    transition: margin-top 0.3s ease-out; /* Ensures smooth transition */
  }
  
.underline{
    text-decoration: underline;
    margin-bottom: 20px;
    color: black;
    font-family: "Montserrat";
    font-weight: 700;
    font-style: bold;
    font-size: 40px;
    padding: 15px;
}
.black{
    background-color: #f3d9dc !important;
    min-height: 100vh;
}
@media (max-width: 1024px) {
    .parent {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .parent {
      grid-template-columns: 1fr;
      gap: 10px; /* Reduce gap for mobile view */
      padding: 10px; /* Reduce padding for mobile view */
    }
  }